body {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    display: flex;
    align-items: center;
}

.hero h1 span {
    color: yellow;
}

.section {
    padding: 80px 0;
}

.card {
    margin-top: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
